<h1>Time Clock Out</h1>


<%= form_for [@user,@shift] do |f| %>

    <div class="hidden">
      <%= f.text_field :out_at, :value => DateTime.now %>
    </div>

  <%= f.submit "Clock Out!" %>
<% end %>


<%= link_to "Back to User", company_users_path(@user) %>
