<h1>Time Clock In</h1>


<%= form_for [@user,@shift] do |f| %>

    <div class="hidden">
      <%= f.text_field :in_at, :value => DateTime.now %>
    </div>

  <%= f.submit "Clock In!" %>
<% end %>


<%= link_to "Back to User", company_users_path(@user) %>
