<h1>Time Clock In</h1>


<%= form_for [@user,@shift] do |f| %>

    <%= f.label "Clock-in" %>
    <div class="hidden">
      <%= f.text_field :in_at, :value => DateTime.now %>
    </div>

  <%= f.submit %>
<% end %>
